.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin: 10px auto;
}

.book-item {
  border: 1px solid teal;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  width: 70%;
}

.loader {
  color: blue;
  margin: 10px auto;
}